.trailer-info-container {
    color : white;
    border: 1px solid red;
    height: 338px;
    width:45vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trailer-main-container {
    position: absolute;  
    display: flex;
    justify-content: space-between
}
.title {
    font-size:18px;
    font-weight: bold;
    margin-bottom : 15px;
}
.language {
    font-size:13px;
    margin-bottom : 15px;
}
.tag {
    font-size :12px;
    border : 1px solid white;
    margin-right: 10px;
    padding : 3px 15px;
    border-radius: 20px;
}
.tag-content {
    display: flex;
    margin-bottom: 15px;
}
.rating-info {
    display:flex;
    align-items:center;
    margin-right : 30px;
    margin-bottom: 15px;
}
.img-like {
    height : 31px; 
    margin-right : 5px;
}
.rating-detail {
    display:flex;
    flex-direction:column
}
.rating-perc {
    font-size: 14px;
    padding-bottom: 2px; 
}
.rating-count {
    font-size: 12px;
    color :#989898;
}
.overlay {
    display: flex;
}
.movie-desc {
    font-size: 12px;
    color : #989898;
}
.feedback-container {
    display : flex;
    justify-content: space-between;
    align-items : center
}